@use "/src/sass/lbs/modern-normalize.min.css";
@use "/src/sass/lbs/fontello.css";
@use "/src/sass/base/basic.scss";



// @use "/src/sass/base/variables.scss" as *;
// @use "/src/sass/pxtorem.scss" as *;


@use "/src/sass/blocks/header.scss";

@use '/src/sass/ui/titles.scss';

@use "/src/sass/blocks/promo.scss";

@use "/src/sass/ui/buttons.scss";