@keyframes moveAndRotate {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(100%) rotate(180deg);
    }

    100% {
        transform: translateY(0) rotate(360deg);
    }
}

@keyframes test {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateY(0);
    }
}